<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students List</title>

        <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body class="bg-info p-2 text-dark bg-opacity-25">
    <div class="container mt-4">
            {{#if message}}
                <h4 class="alert alert-success mt-4 text-center">{{message}}</h4>
            {{/if}}
        
        <div class="row justify-content-end">
            <div class="col-8 text-center mb-4">
                <h1>List of Students</h1>
            </div>

            <div class="col-2">
                <a href="/register" class="btn btn-success ">Add Student</a>
                <a href="/admin/logout" class="btn btn-secondary ">Logout</a>
            </div>
        </div>
        
        <table class="table table-dark table-striped table-hover table-bordered">
            <thead class="text-center">
                <tr>
                    <th >Student ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Course</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {{#each students}}
                    <tr>
                        <td>{{this.student_id}}</td>
                        <td>{{this.first_name}}</td>
                        <td>{{this.last_name}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.course_name}}</td>
                        <td>
                            <a href="/admin/update-data/{{this.email}}" class="btn btn-warning" onclick="confirm('Are you sure you want to update this account?');">Update</a>
                            <a href="/admin/delete/{{this.email}}" class="btn btn-danger" onclick="confirm('Are you sure you want to delete this account?');">Delete</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    

        <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>